@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{
    --orange-color:hsl(31, 77%, 52%);
    --dark-cyan:hsl(184, 100%, 22%);
    --very-dark-cyan:hsl(179, 100%, 13%);
    --transparent-color:hsla(0, 0%, 100%, 0.75);
    --very-light-gray:hsl(0, 0%, 95%);
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-light-gray);
}
.wrapper{
    width: 800px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.card{
    padding:2.5rem;
}
.card h1{
    font-size: 32px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin: 1.4rem 0;
    text-transform: uppercase;
    color: var(--very-light-gray);
    letter-spacing: 1.5px;
    opacity: 0.9;
}
.card p{
    font-size: 13px;
    font-family: 'Lexend Deca', sans-serif;
    color: var(--very-light-gray);
    opacity: 0.75;
    line-height: 1.5;
    margin: 0 0.2rem 5rem 0;
}
.card button{
    padding: 0.8rem 1.7rem;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
}
.first-card{
    background-color: var(--orange-color);
    border-radius: 8px 0 0 8px;
}
.first-card button{
    color: var(--orange-color);
}
.second-card button{
    color: var(--dark-cyan);
}
.third-card button{
    color: var(--very-dark-cyan);
}
.second-card{
    background-color: var(--dark-cyan);
}
.third-card{
    background-color: var(--very-dark-cyan);
    border-radius: 0 8px 8px 0;
}
